body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
}
.background-blue{
    background-color: #DCEAF5;
}
.no-padding{
    padding: 0;
}
p{
    color: #5B5B5B;
}
a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
    color: #1D3444;
    line-height: 72px;
}
h2{
    font-size: 3rem;
    color: #0D1317;
    line-height: 56px;
}
h3{
    font-size: 36px;
    color: #0D1317;
    line-height: 44px;
}
h4{
    font-size: 24px;
}
img{
    border-radius: 20px;
}
i{
    font-size: 20px;
    padding: 0 10px;
}
.col{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
 
}
.col.nospace{
    justify-content: flex-start;
    gap: 30px;
}
.ais{
    align-items: flex-start;
}
.bo{
    color: white;
    background-color: #F58A07;
    padding: 10px 20px;
    border-radius: 60px;
    width: 100px;
    text-align: center;
}

.no{
    gap: 0;
}
.no-padding{
    padding: 0;
}
.col-3{
    width: 400px;
    border-radius: 20px; 
}
.col-2{
    width: calc(1280px/2 - 30px);
    gap: 30px;
}
.row{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.more::after{
    content: '\2192';
    padding: 5px;
}
.more{
    color: #F58A07;
}
.rel{
    position: relative;
}
/* header */
#top{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.fin{
    filter: invert(14%) sepia(27%) saturate(3445%) hue-rotate(181deg) brightness(100%) contrast(96%);
}
.menu .nav li{
    list-style: none;
    padding: 0 10px;   
}
.menu .nav li a{ 
    color: #394149;
    font-weight: 600;
}
.menu .nav li:nth-child(6) a{
    color: #F58A07;
}
.nav li:nth-child(6){
    background-color: rgba(245, 138, 7, 0.1);
    padding: 10px;
    border-radius: 30px;
    margin-left: 30px;
    width: 173px;
    text-align: center 
}

/* first secton */
.first .col{
    padding-bottom: 0;
}
.partner{
    align-self: center;
}
.partner-logos-list{
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    padding: 0;
}
.buttons{
    padding: 30px 0;
}
.man{
    display: flex;
}
.man img{
    align-items: flex-end;
}
.buttons a{
    border-radius: 60px;
    width: 200px;
    padding: 10px 20px;
}
.buttons a:nth-child(1){
    color: white;
    background-color: #F58A07;
}
.buttons a:nth-child(2){
    color: #1D3444;
}
/* second section */
.second .row .col-2{
    width: 600px;
}
.companies{
    width: 700px;
}
/* third section */
.third .col-3{
    width: 352px;
    height: 200px;
    background-color: white;
    padding: 40px 30px;
    margin-bottom: 50px;
    text-align: left;
    align-items: center;
}
/* fourth section*/
.fourth .experience{
    background-image: url(./images/about-image.png);
    background-size: cover;
    height: 650px;
    border-radius: 20px;
}
.experience::after{
    content: '';
    width: 150px;
    height: 650px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    position: absolute; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.numbers{
    display: flex;
}
.awards{ 
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}
.awards b{
    color: #F58A07;
    font-size: 36px;
}
/* fifth section */
.fifth .background-blue{
    border-radius: 20px;
    padding: 50px;
}

.fifth .container{
    position: relative;
}
.fifth .background-blue::after{
    content: url(./images/Ribbon.png);
    position: absolute;
    right: -16px;
    top: 34px;
}
.fifth .house{
    display: flex;
    align-items: center;
    gap: 30px;
}
.house a{
    border: 2px solid #A8BCCC;
    width: 150px;
    text-align: center;
    color: #A8BCCC;
    border-radius: 60px;
    padding: 10px 20px;
}
.house a:nth-child(1){
  color: white;
  background-color: #F58A07;
  border: none;
}
.teamworking{
    background-image: url(.images/team.png);
    background-size: cover;
    width: 400px;
    height: 350px; 
}
.teamworking::after{
    content: '';
    width: 110px;
    height: 350px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    position: absolute; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
/* sixth section */
.sixth .col{
    align-items: unset;
}
.coffee{
    background-image: url(./images/experience-image.png);
    background-size: cover;
    width: 50vw;
}
.sixth{
    background-color: #F58A07;
}
.sixth h2{
    color: white;
}
.sixth a{
    color: #F58A07;
    background-color: white;
    border-radius: 60px;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
}
.col .energy{
    align-self: center;
    width: 50%;
    box-sizing: border-box;
    padding: 128px 300px 128px 128px;
}
/* seventh section */
.joe{
    border-radius: 50%;
}
.ceo{
    display: flex; 
    width: 230px;
    align-items: center;
    padding-top: 20px;
}
.seventh h4{
    margin: 0;
}
.seventh .ceo p{
    margin: 0;
    color:#F58A07;
    font-weight: 500;
}
.interview{
    position: relative;
}
a .more{
    color: #F58A07;
}
/* eigth section */
.eigth .col-3 {
    padding: 0;
    background-color: white;
}
.pad{
    padding: 30px;
    justify-content: space-between;
}
.pad a{
    color: #F58A07;
    font-weight: 500;
}
.borderless{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* footer */
footer h3{
    color: white;
}
footer{
    background-color: #063255;
    color: white;
    font-weight: 400;
    height: 463px;
    position: relative;
}
footer h4{
    margin: 0;
}
footer p{
    color: white;
    margin: 0;
}

footer a{
    color: white;
}
footer .col-3{
    height: 240px;
}
footer .about{
    display: flex;
    flex-direction: row;
}
.privacy {
    list-style: none;
    justify-content: flex-end;
    gap: 30px;
}
.tut{
    margin-top: 60px;
}
footer::before{
    content: '';
    width: 53px;
    height: 144px;
    background-color: #F58A07;
    position: absolute;
    top: 319px;
    left: 0;
    border-radius: 0 20px 0 0;
}
footer::after{
    content: '';
    position: absolute;
    width: 53px;
    height: 287px;
    right: 0;
    top: 50px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
}
input{
    width: 340px;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    
}

 /* services */

 .pics {
    background-size: cover;
    width: 620px;
    height: 550px;
    border-radius: 20px;
 }
 .homeworking{
    background-image: url(../images/arc-1.png);
 }
 .homeworking::after{
    content: '';
    width: 150px;
    height: 550px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    position: absolute; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
 
 .talking{
    background-image: url(../images/arc-2.png);
 }
.cube{
    width: 100px;
    height: 100px;
    background-color: #F58A07;
    border-radius: 20px;
    mix-blend-mode: multiply;
    position: absolute;
}
.v0 {
    top: 128px;
    left: -50px;
}
 .smiling{
    background-image: url(../images/arc-3.png);
 }

.v1{
    top: 272px;
    right: -50px;
} 
.black{
    background-image: url(../images/arc-4.png);
 }

.v2{
    top: 217px;
    left: -50px;
}
 .tower{
    background-image: url(../images/arc-5.png);
 }

.v3 {
    top: 272px;
    right: -50px;
}
 .chatting{
    background-image: url(../images/arc-6.png);
 }
.v4{
    top: 342px;
    left: -50px;
}
 
 /* Careers */

 .tear{
    background-image: url(../images/arc-4.png);
    height: 650px;
 }
 .tear::after{
    content: '';
    width: 180px;
    height: 650px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    position: absolute; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }
 .orange{
    color: #F58A07;
 }
/* blog */
.allposts .col-3{
    background-color: #DCEAF5;
    margin-bottom: 20px;
}
.pop{
    justify-content: flex-start;
    gap: 20px;
}
/* bloginner */
.mid{
    max-width: 800px;
    margin: 50px auto;
}
/* careers2 */
.nice{
    padding: 65px;
    align-items: baseline;
}
.item-1{
    width: 300px;
}
.item-1 h4{
    margin: 0;
    align-items: flex-start;
}
.item-2{
    width: 800px;
}
.inp input{
    width: 100%;
    background: #D2DAED2B;
    margin-bottom: 25px;
}
.big{
    display: block;
    margin-bottom: 20px;
}
.big input{
    width: 100%;
    background-color: #D2DAED2B;
    border-radius: 20px;
    padding: 15px 0 200px 15px;
    text-align: start;
}
.low .background-blue{
    border-radius: 20px;
}
/* contact */
.small .col-2{
    width: calc(100%/2 - 30px);
}
.touch2 input{
    background-color: #D2DAED2B;
    margin-bottom: 10px;
    width: calc(100% - 30px);
}
.op{
    padding-bottom: 160px;
}
.map{
    border-radius: 20px;
    height: 366px;
}